# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`

# Ignoring the mysql directory for now. In the future, may need to commit it
# and setup environment variables to the *settings.php files.
/mysql
/.env

# Ignore configuration files that may contain sensitive information
/www/sites/*/*settings*.php
/www/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/www/sites/*/files
/www/sites/*/public
/www/sites/*/private
/www/sites/*/files-public
/www/sites/*/files-private

# Ignore paths that may contain temporary files
/www/sites/*/translations
/www/sites/*/tmp
/www/sites/*/cache

# Ignore testing related files
/www/sites/simpletest

# Ignore drupal core (if not versioning drupal sources)
/www/core
/www/modules/README.txt
/www/profiles/README.txt
/www/sites/README.txt
/www/sites/example.sites.php
/www/sites/example.settings.local.php
/www/sites/development.services.yml
/www/themes/README.txt
/www/vendor
/www/.csslintrc
/www/.editorconfig
/www/.eslintignore
/www/.eslintrc.json
/www/.gitattributes
/www/.htaccess
/www/autoload.php
/www/composer.json
/www/composer.lock
/www/example.gitignore
/www/index.php
/www/LICENSE.txt
/www/README.txt
/www/robots.txt
/www/update.php
/www/web.config
