<<<<<<< HEAD
services:
  Drupal:
    image: drupal:10.5.8-php8.4-apache
=======

# Run to install the latest version of Drupal.
# curl -sSL https://www.drupal.org/download-latest/tar.gz | tar -xz --strip-components=1
# mkdir sites/default/files
# mkdir mysql/_data
# cp sites/default/default.settings.php sites/default/settings.php
# Spin up the Docker Container.
# docker compose --env-file ./.env up

version: "3.9"

services:
  Drupal:
    image: drupal:php8.1-apache-bookworm
>>>>>>> b14aead6e7f81dc30e921c2eefb7e3383b9f847e
    container_name: Drupal
    restart: unless-stopped
    ports:
      - "80:80"
      #- "443:443"
    volumes:
      #- /opt/drupal/web
      #- ${DRUPAL_LOCATION}:/var/www/html
      #- ${DRUPAL_LOCATION}:/opt/drupal/web
      - drupal-site:/opt/drupal/web
      #- ${DRUPAL_LOCATION}/modules:/opt/drupal/web/modules
      #- ${DRUPAL_LOCATION}/profiles:/opt/drupal/web/profiles
      #- ${DRUPAL_LOCATION}/themes:/opt/drupal/web/themes
      #- ${DRUPAL_LOCATION}/sites:/opt/drupal/web/sites
      # For updates
      - ${DRUPAL_UPDATES_LOCATION}:/home/updates
      #- ${DRUPAL_LOCATION}/apache2.conf:/etc/apache2/apache2.conf
    #deploy:
    #  replicas: 2
    #  update_config:
    #    parallelism: 2
    #    delay: 10s
    #  restart_policy:
    #    condition: on-failure
    networks:
      - drupal-network
    deploy:
        resources:
            limits:
              cpus: "2"
              memory: 2G
            reservations:
              cpus: "1"
              memory: 512M

  MySQL:
    image: mysql:8.0.44
    container_name: Drupal-MySQL
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - mysql-database:/var/lib/mysql
    #  - mysql-database:/var/lib/mysql
    #  - //c/Users/kkelm/GitHub/drupal/mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - VIRTUAL_PORT=${VIRTUAL_PORT}
    #  - LETSENCRYPT_HOST=your-website-one.com 
    #  - LETSENCRYPT_EMAIL=your.email@domain.com
    #deploy:
    #  replicas: 2
    #  update_config:
    #    parallelism: 2
    #    delay: 10s
    #  restart_policy:
    #    condition: on-failure
    networks:
      - drupal-network
    deploy:
        resources:
            limits:
              cpus: "2"
              memory: 2G
            reservations:
              cpus: "1"
              memory: 512M

  Adminer:
    image: adminer:5.4.1-standalone
    container_name: Drupal-Adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - drupal-network
    deploy:
        resources:
            limits:
              cpus: "0.5"
              memory: 2G
            reservations:
              cpus: "0.25"
              memory: 512M
      
  #test-NGINX:
    #image: nginx:stable
    #restart: always
    #volumes:
    #  - ./nginx.conf:/etc/nginx/nginx.conf
    #  - ./test:/usr/share/nginx/html/test
    #environment:
    #  - VIRTUAL_HOST=net.localhost
    #  - VIRTUAL_PORT=80
    #  - LETSENCRYPT_HOST=your-website-one.com 
    #  - LETSENCRYPT_EMAIL=your.email@domain.com
    #deploy:
    #  replicas: 2
    #  update_config:
    #    parallelism: 2
    #    delay: 10s
    #  restart_policy:
    #    condition: on-failure
    #container_name: test-NGINX
    #expose:
    #  - 80
    

networks:
  drupal-network:
  
#  default:
#    external:
#      name: nginx-proxy

volumes:
  mysql-database:
    driver: local
    driver_opts:
       o: bind
       type: none
       device: ${MYSQL_LOCATION}/mysql/_data
  drupal-site:
    driver: local
    driver_opts:
       o: bind
       type: none
       device: ${DRUPAL_LOCATION}
#  devfecta-react-php:
#  devfecta-mysql: